html,
body {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
}

form {
	display: grid;
	grid-template-columns: 1fr minmax(0, 1.5fr);
	row-gap: 10px;
	column-gap: 5px;

	border: 1px solid lightgray;
	background: url('../assets/background.jpg');
	background-repeat: no-repeat;

	padding: 1rem;
	width: 75%;
	max-width: 100%;
	min-width: 30%;
	border-radius: 10px;
}

form label {
	display: flex;
	align-items: center;
	justify-content: right;
}

form label span {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

form label img {
	margin-left: 5px;
}

form .science_row {
	display: flex;
	justify-content: space-between;
}

form .science_row input[type='number'] {
	width: 50px;
}

form .science_row div {
	display: flex;
	align-items: center;
}

form .science_row div > :nth-child(odd) {
	margin-right: 5px;
}

/* ===============
   BUTTON STYLES 
   =============== */

form button {
	margin-top: 1rem;
	cursor: pointer;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 0.5rem;
	transition: background-color 0.3s;
}

form button.cta {
	background-color: #337aff;
}

form button.cta:hover {
	background-color: #779fec;
}

form button.default {
	background-color: #878a90;
}

form button.default:hover {
	background-color: #999ca2;
}

form button:focus {
	outline: none;
}

/* ===============
   INPUT STYLES 
   =============== */

form input {
	border-radius: 5px;
	border: 1px solid lightblue;
}

form input[type='number'] {
	text-align: center;
}

/* ===============
   ASIDE STYLES 
   =============== */

aside {
	border: 1px solid lightgray;
	background: url('../assets/background_2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: auto;

	padding: 1rem;
	border-radius: 10px;
}

aside table.scores-table {
	border: 1px solid lightblue;
	width: 100%;
	height: 100%;
	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 1px;
	text-align: center;
}

aside table.scores-table caption {
	text-decoration: underline;
	padding-bottom: 0.5rem;
}

aside table.scores-table th,
aside table.scores-table td {
	border: 1px solid lightblue;
	padding: 0.5rem;
}

aside table.scores-table th {
	background-color: #dededf;
}

aside table.scores-table td {
	background-color: transparent;
}

aside .winner {
	margin-top: 1rem;
	font-weight: bold;
}

/* ===============
   MEDIA QUERIES 
   =============== */

@media screen and (max-width: 600px) {
	body {
		align-items: flex-start;
	}

	form {
		grid-template-columns: 0.5fr minmax(0, 1.5fr);
		row-gap: 5px;
		column-gap: 5px;
		width: 90%;
		margin: 0 auto;
	}

	form .science_row {
		justify-content: center;
	}

	form .science_row input[type='number'] {
		width: 30px;
	}

	form .science_row div > :nth-child(odd) {
		margin-right: 0;
	}

	form .science_row div img {
		width: 20px;
		height: 20px;
	}

	aside {
		width: 90%;
		margin: 0 auto;
		margin-top: 0.5rem;
	}
}

@media screen and (max-width: 700px) {
	main {
		flex-direction: column;
	}
}
